.dado {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    
}

.fa-circle {
    font-size: 1em;
    position: absolute;
}

.two {
    right: 20%;
}

.three {
    top: 43%;
}

.four {
    top: 43%;
    right: 20%;
}

.five {
    top: 64%;
}

.six {
    top: 64%;
    right: 20%;
}

.mid {
    right: 41%;
    top: 43%;
}

.none {
    display: none;
}



